<%- include("../partials/header.ejs")%>
    <h1>This is the dashboard</h1>
    <h2> welcome back, <%=user.name%></h2>
    <a href="/dashboards/logout">Log Out </a>

<%- include("../partials/footer.ejs")%>