<%- include("../partials/header.ejs")%>

    <h1>Create a new Dashboard</h1>

    <!-- first thing to show up. after submitting, hide and show categories form. find a way to handle error. -->
    <section id="dashboard-creation">
        <form action="/dashboards" method="POST">
            <label for="name">Dashboard title:</label>
            <br>
            <input type="text" name="title">
            <br>
            <button type="submit"> Next </button>
        </form>
    </section>

<%- include("../partials/footer.ejs")%>