<%- include("./partials/header.ejs")%>
    <h1>Budget App </h1>
    <p>Please login to start</p>

    <% if (user) {%>
        <a href="/logout">Logout</a>
    <%} else {%>
        <a href="/auth/google">Login</a>
    <%}%>

    <h2>Achieve Financial Independence Today :)</h2>
    
<%- include("./partials/footer.ejs")%>