<%- include("./partials/header.ejs")%>

<nav>
    <div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/dashboards">DASHBOARD COLLECTION -></a></li>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </nav>
<main id="login-page">
    <div>
        <% if (user) {%>
            <section>
                <h1>LOGOUT</h1>
            </section>
        <%} else {%>
            <section>
                <h1>LOGIN</h1>
                <h3>to budget app </h3>
            </section>
        <%}%>
        <input style="display:none" id="user-status" value="<%=user%>">

        <div id="login-card"> 
            <% if (user) {%>    
                <a href="/logout"><img id="google-logo" src="https://i.imgur.com/hUX0a9b.png" alt="google logo"></a>
            <%} else {%>
                <a href="/auth/google"><img id="google-logo" src="https://i.imgur.com/V04x7Ch.png" alt="google logo"></a>
            <%}%>
        </div>
    </div>
</main>
                
<script src="/javascripts/login.js"></script>
<%- include("./partials/footer.ejs")%>