:root{
  --column-data-color: pink;
  --column-data-income: green;
  --column-curr-add-btn: purple;
  --column-curr-add-btn-bg: whitesmoke;
  --column-curr-add-btn-bg-hover: grey;
  --column-cat-text-color: black;
  --column-cat-text-color-hover: grey;
  --column-income-text-color: green;
  --column-income-text-color-hover: grey;
  --dash-edit-delete-form-overlay-bg: rgba(0,0,0,0.4);
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
a {
  color: #00B7FF;
}

.hide-form{
  display: none;
}
.form-overlay{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top:0;
  left: 0;
  background-color: var(--dash-edit-delete-form-overlay-bg);
  height: 100%;
  width: 100%;
}

body>table{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20%;

}
.data-footer{
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  min-width: 150px;
  background-color: var(--column-data-color);
  border-radius: 10px;
  padding: 5px 0 0 0;
}

.data-footer >div> p{
  padding:0;
  margin: 0;
}

.data-head{
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  min-width: 150px;
  font-size: 12px;
  background-color: var(--column-data-color);
  border-radius: 10px;
  padding: 10px 0 0 0;
}

.data-head>input{
  width: 50px;
  margin: 0 5px;
}
.data-head>p{
  margin: 0 10px;
}

.data-col-cat{
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  min-height: 220px;
  height: 100%;
  min-width: 150px;
  background-color: var(--column-data-color);
  border-radius: 10px;
  flex: auto;
}

#cat-list>a{
  display: block;
  text-align: left;
  margin: 14px 15px;
  text-decoration: none;
  color: var(--column-cat-text-color);
}
#cat-list>a:hover{
  color: var(--column-cat-text-color-hover);
  cursor: pointer;
}

#income-list>a{
  display: block;
  text-align: left;
  margin: 14px 15px;
  text-decoration: none;
  color: var(--column-income-text-color);
}
#income-list>a:hover{
  color: var(--column-income-text-color-hover);
  cursor: pointer;
}


.data-col-income{
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
  min-height: 100px;
  height: 100%;
  min-width: 150px;
  background-color: var(--column-data-color);
  border-radius: 10px;
  flex: auto;
}


.form-row>div>form>input{
  margin-left: 5px;
  width: 100px;
  height: 10px;
}

.form-row>div>form>button{
  width: 30px;
  height: 17px;
  font-size: 10px;
  margin: 0;
}
.form-row>button{
  width: 30px;
  height: 17px;
  font-size: 10px;
  margin: 0;
}

#income-list{
  color: var(--column-data-income)
}

.curr-add-btn{
  text-decoration: none;
  color: var(--column-curr-add-btn);
  background-color: var(--column-curr-add-btn-bg);
  padding: 1px 5px;
  margin: 0 0 0 10px;
  border-radius: 5px;
  border: 1px solid var(--column-curr-add-btn);
  
}
.curr-add-btn:hover{
  cursor: pointer;
  background-color: var(--column-curr-add-btn-bg-hover);
}

.entry-forms{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 220px;
}

.entry-forms>.cancel-form{
  width: 45px;
  margin-left: 2px;
}


#show-table{
  display: block;
  margin: 0 auto;
  text-align: left;


}
#show-table>tbody>tr>td{
  min-width: 120px;
  
}
#show-table>thead>td{
  min-width: 120px;
  
}
#show-table>thead{
  font-size: 20px;

}