:root{
  --column-data-color: pink;
  --column-data-income: green;
  --column-curr-add-btn: purple;
  --column-curr-add-btn-bg: white;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
a {
  color: #00B7FF;
}

.hide-form{
  display: none;
}

#data-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#data-head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#data-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-size: 10px;
}

.data-footer{
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  min-width: 150px;
  background-color: var(--column-data-color);
  border-radius: 10px;
  padding: 5px 0 0 0;
}

.data-footer >div> p{
  padding:0;
  margin: 0;
}

.data-head{
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  min-width: 150px;
  font-size: 12px;
  background-color: var(--column-data-color);
  border-radius: 10px;
  padding: 10px 0 0 0;
}

.data-head>input{
  width: 50px;
  margin: 0 5px;
}
.data-head>p{
  margin: 0 10px;
}

.data-col{
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 50px;
  height: max-content;
  min-width: 150px;
  background-color: var(--column-data-color);
  border-radius: 10px;
  overflow: auto;
}

#income-list{
  color: var(--column-data-income)
}

#curr-add-btn{
  text-decoration: none;
  color: var(--column-curr-add-btn);
  background-color: var(--column-curr-add-btn-bg);
  padding: 1px 5px;
  margin: 0 0 0 10px;
  border-radius: 5px;
  border: 1px solid var(--column-curr-add-btn);
}

#income-form>form{
  display: flex;
  margin: 0 0 5px 0;
  justify-content: center;

}

#income-form>form>input{
  display: flex;
  width: 75px;
}

#cat-form>form{
  display: flex;
  justify-content: center;
  margin: 0;

}

#cat-form>form>input{
  display: flex;
  width: 75px;
}